.login-outer-wrapper {
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.login-inner-wrapper {
    padding: 50px;
}

.login-box {
    padding: 0px 20px 40px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}