body {
    margin: 0;
    padding: 0;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
}

.btn.btn-primary {
    background-color: #f57e20 !important;
    border-color: #cd691b !important;
}

.btn.btn-primary:hover {
    background-color: #db7520 !important;
}

.btn.btn-primary:active {
    background-color: #c1611f !important;
}

.checkbox+.checkbox, .radio+.radio {
    margin-top: 10px !important;
}

.content {
    margin-top: 60px;
}

.multiple-fields {
    padding: 0;
    margin: 0;
}

.multiple-fields li {
    list-style: none;
}

.table-title {
    margin: 0;
}

.btn-create {
    margin-top: 10px;
}

.internal-schedules {
    min-height: 400px;
}

.internal-schedules .events {
    max-height: 400px;
    overflow-y: scroll;
}

.event {
    line-height: 1.2em;
    padding: 20px 30px;
    background-color: #eeeeee;
    border-left: 5px solid #bbbbbb;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.event:hover {
    border-left: 12px solid #bbbbbb;
}

.event .event-title {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

table tbody tr {
    cursor: pointer;
}

.navbar.topbar {
    background-color: #F67D22;
}

.navbar-brand {
    font-size: 30px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar a.navbar-brand,
.navbar a.dropdown-toggle {
    color: #fff !important;
}

.topbar .nav > li > a:hover, .topbar .nav > li > a:focus {
    background-color: #d86611 !important;
}
.topbar .nav .open > a, .topbar .nav .open > a:hover, .topbar nav .open > a:focus {
    background-color: #d86611 !important;
}

.navbar-right {
    margin-right: 0!important;
}

/*home buttons start*/
.hero-widget.well.well-sm i{
    color: #333;
}

.hero-widget.well.well-sm i:hover {
    color: #f57e20;
}

.hero-widget {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-widget:hover {
    color: #f57e20;
    cursor: pointer;
}

.hero-widget .icon {
    display: block;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 10px;
    text-align: center;
}
.hero-widget var {
    display: block;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    font-style: normal;
}
.hero-widget label {
    font-size: 17px;
}
.hero-widget .options {
    margin-top: 10px;
}
/*home buttons end*/

.div30days{
    background-color: green;
    color:white;
    text-align: center;
}

.div45days{
    background-color: yellow;
    color:black;
    text-align: center;
}

.div60days{
    background-color: red;
    color:white;
    text-align: center;
}
.emergency
{
    /*height:100px;*/
    background:red;
    animation:myfirst 5s linear infinite;
    -moz-animation:myfirst 5s linear infinite; /* Firefox */
    -webkit-animation:myfirst 5s linear infinite; /* Safari and Chrome */
    -o-animation:myfirst 5s linear infinite; /* Opera */
}
@keyframes myfirst
{
    0%,100%   {background:red;color: white;}
    25%  {background:yellow;color: black;}
    50%  {background:blue;color: white;}
    75% {background:green;color: white;}

}

@-moz-keyframes myfirst /* Firefox */
{
    0%,100%   {background:red;color: white;}
    25%  {background:yellow;color: black;}
    50%  {background:blue;color: white;}
    75% {background:green;color: white;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%,100%   {background:red;color: white;}
    25%  {background:yellow;color: black;}
    50%  {background:blue;color: white;}
    75% {background:green;color: white;}
}

@-o-keyframes myfirst /* Opera */
{
    0%,100%   {background:red;color: white;}
    25%  {background:yellow;color: black;}
    50%  {background:blue;color: white;}
    75% {background:green;color: white;}
}

/*sidebar start*/

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #f67d22;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>a {
    color: #ffffff!important;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/*sidebar end*/